<div class="bg-light px-4 text-uppercase font-weight-bold" style="padding: 1.20em;">
    Pregled porudzbine
</div>
<div class="p-4">
    <p class="font-italic mb-4">Troškovi dostave se mogu povećati u zavisnosti šta izaberete na pregledu.</p>
    <ul class="list-unstyled mb-4">
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Ukupna cena proizvoda</strong>
            <strong>{{subtotal + ".00 din"}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Troškovi dostave</strong>
            <strong>{{shippingPrice + ".00 din"}}</strong>
        </li>
        <li class="d-flex justify-content-between py-3 border-bottom">
            <strong class="text-muted">Ukupno</strong>
            <strong>{{total + ".00 din"}}</strong>
        </li>
    </ul>
</div>